.cart-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    ;
}

/* Any children of the cart */
.cart-grid>* {
    height: fit-content;
}

.cart-items {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 830px) {
    .cart-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cart-grid>* {
        width: fit-content;
    }
}