@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

.is-fullheight {
  height: 100% !important;
}

hr {
  background-color: #4a4a4a !important;
  height: 1px;
  margin: unset;

}

.margin-0-auto {
  margin: 0 auto;
}

.no-margin {
  margin: unset !important;
}

.no-padding {
  padding: unset !important;
}
